
<% if (locals.user){ %>
	<div id="user-chat-box">
		<div id='chat-heading'>Chat Here!</div>
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type a message" class="form-control">
			<button id="send-message" type="button" class="btn btn-secondary">Send</button>
		</div>

	</div>
<% } %>
